# Build EABI kernels that support EABI system calls.
CONFIG_AEABI=y

# Provide support for the old ABI's system calls.
CONFIG_ARM_THUMB=y

CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_ARM=y
CONFIG_VDSO=y
